header{
    background: #089c8c;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.main{
}

header h1{
    color: #ffffff;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float: left;
}

.titulo{
    font-size: 2em;
}

fieldset{
    text-align: center;
    padding-bottom: 8px;
}

input [type=number]{

}

::placeholder{

}

#resultados span{
    color: #089c8c;
}


.resul{
    font-size: 1.5em;
    margin: 5px;
}

#grafico{
    margin-bottom: 1px;
    padding-bottom: 1px;
}

#myCanvas{
    background-color: #ffffff;
    border-style: solid;
    border-color: #04422b;
    margin: 10px;
    margin-bottom: 1px;
    margin-left: 150px;
}