header{
    height: 650px;
    background-image: url("../Imagenes/Fondo.png");
    background-repeat: round;
}

header nav{
    font-family: "Comic Sans MS";
    overflow: hidden;
}

body .main .titulo{
    font-family: "Comic Sans MS";
    font-size: 7em;
    text-align: center;
    color: #04422b;
}

body .main .descripcion{
    font-size: 2em;
    font-family: "Comic Sans MS";
    color: #04422b;
}