*{
  margin: 0;
  padding: 0;
}

body{
  background: #f2f2f2;
}

header , main , footer{
  margin: auto;
  width: 90%;
  max-width: 1300px;
}

main , footer {
  margin-top: 50px;
}

header{
  height: 650px;
  background-image: url("../Imagenes/Fondo.png");
  background-repeat: round;
}

header nav{
  overflow: hidden;
}

header nav ul{
  list-style-type: none;
}

header nav ul li{
  float: right;
}

header nav ul li a{
  padding: 10px 20px;
  display: block;
  color: #ffffff;
  text-decoration: none;
}

header nav ul li a:hover{
  background: #105f45;
  font-size: 1.1em;
}

footer{
  font-family: "Roboto Light" , sans-serif;
  color: #ffffff;
  background: #0e543d;
  text-align: center;
  font-size: 1.5em;
}

main .titulo{
  font-family: monospace;
  font-size: 7em;
  text-align: center;
  color: #0e543d;
}

main .descripcion{
  font-size: 2em;
  color: #105f45;
}