*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Comic Sans MS , sans-serif;
  background: #f2f2f2;
}

header , footer , section {
  margin: auto;
  width: 90%;
  max-width: 1300px;
}

header{
  overflow: hidden;
}
header nav ul{
  list-style-type: none;
}

header nav ul li{
  float: right;
}

header nav ul li a{
  padding: 10px 20px;
  display: block;
  color: #ffffff;
  text-decoration: none;
}

main , footer {
  margin-top: 50px;
}

footer{
  color: #ffffff;
  background: #089c8c;
  text-align: center;
  font-size: 1.5em;
}

header nav ul li a:hover{
  background: #04422b;
  font-size: 1.1em;
}

header nav ul li a:visited{
  text-decoration: none;
}

header nav ul li a:active{
  background: #1c8c84;
}