header{
    background: #089c8c;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.main{
    margin-top: 100px;
}

header h1{
    color: #ffffff;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float: left;
}

.titulo{
    font-size: 2em;
}

fieldset{
    text-align: center;
    padding-bottom: 8px;
}

input [type=number]{

}

::placeholder{

}